* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-col: rgba(100, 100, 100);
  /* --main-col: rgba(100, 255, 0); */

  --bg-col: rgba(100, 100, 100, 0.2);
  /* --bg-col: rgba(100, 255, 0, 0.2); */

  --bg-active: rgba(100, 100, 100, 0.5);
  /* --bg-active: rgba(100, 255, 0, 0.5); */

}
body {
  background: #000;
  font-family: 'Orbitron', sans-serif;
  color: rgba(100, 255, 0);
  cursor: crosshair;
  user-select: none;
}
#dashboard {
  display: flex;
  flex-direction: column;
  margin: 5px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 20%;
  /* height: 200px; */
  border: 1px solid var(--main-col);
  background: var(--bg-col);
  border-radius: 10px;
}
.info {
  padding: 5px;
  margin: 5px;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  background: var(--bg-col);
  border-radius: 10px;
}
.crosshair {
  width: 20px;
  height: 20px;
  border: 2px solid var(--bg-active);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.btn {
  border: none;
  font-family: 'Orbitron', sans-serif;
  background: var(--bg-col);
  padding: 5px;
  margin: 5px;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  /* width: 100%; */
  cursor: crosshair;
  color: var(--main-col);
}
.btn:hover {
  color: yellow;
  background: var(--bg-active)
}
.fullScreen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.glass {
  display: none;
  z-index: 5;
  background: rgba(255, 255, 100, 0.2);
  border-bottom: 5px solid rgb(255, 255, 100, 0.5);
  /* backdrop-filter: hue-rotate(15deg); */
  backdrop-filter: blur(0.5px) contrast(120%);
  
  transform: translateY(-100%);
  transition: transform 2s ease-in-out;
}
.default-window {
  border: 1px solid var(--main-col);
  background: var(--bg-col);
  padding: 5px;
  margin: 5px;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
}
.closed {
  transform: translateY(0);
}
.inventory {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -200%);
  width: 50%;
  height: 80%;
  border: 1px solid var(--main-col);
  background: var(--bg-col);
  backdrop-filter: blur(5px);
  z-index: 100;
  transition: .2s all ease;
}
.inv-open {
  transform: translate(-50%, -50%)

}
.vignette {
  background-image: url("vignette.png");
  background-position: center;
  opacity: 0.5;
}
.screenEffect {
  /* dynamically change color due to altitude change */
  background-color: hsla(120, 100%, 50%, 0.01);
}